@model IEnumerable<ePro.Models.ComplianceItems>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Item Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
           Sub compliance items
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplianceItemsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td >
            <style>
               .intd
               {
                   border-top-style:none!important;
               }            

            </style>
            <table>
            
               @if (ViewBag.productSubItem!=null)
                {
                foreach (var sub in ViewBag.productSubItem)
                {
                    if (item.ComplianceItemsID == sub.ComplianceItemsID)
                    {
                        <tr>
                            <td class="intd">
                                @sub.SubItemTo
                            </td>
                            <td>
                                @sub.ItemName
                            </td>
                            <td>@Html.ActionLink("Remove ", "Remove", new { itemid = sub.ComplianceItemsID, subitemid = sub.SubItemTo })</td>

                        </tr>
                    }
                    if (sub.Equals(null))
                    {
                        break;
                    }
                }
                }
            </table>

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComplianceItemsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComplianceItemsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComplianceItemsID })
        </td>
    </tr>
}

</table>
<div>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    Page @ViewBag.PageNumber of @ViewBag.TotalPages

    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))


</div>

