@model PagedList<ePro.Models.ProductListing>


@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "All Products";
}

<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New", "../products/Create")
</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Type in product group name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)</td><td><input type="submit" value="Find" /></td>
            <td>Type in product item code: @Html.TextBox("ItemCode_Search_Data", ViewBag.ItemCodeFilterValue as string)</td><td><input type="submit" value="Find" /></td>
            <td>Type in product status: @Html.TextBox("Status_Search_Data", ViewBag.StatusFilterValue as string)</td><td><input type="submit" value="Find" /></td>
       </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Product Name", "Index", new { Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.ActionLink("Product Code", "Index", new { ItemCode_Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.ActionLink("Product Status", "Index", new { ItemCode_Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.ActionLink("Product Group", "Index", new { Group_Sorting_Order = ViewBag.SortingGroup })
        </th>
       
       <th>
           Product file
       </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)

        </td>
                   
        @if (item.Files.Any(f=>f.FileType ==ePro.Models.FileType.Avatar))
        {
            if (item.Files.First(f=>f.FileType ==ePro.Models.FileType.Avatar).ProductListingID!=0 )
            {   
            <td>
                @Html.ActionLink("Download", "FileDownload", new { fileid = item.Files.First(f => f.FileType == ePro.Models.FileType.Avatar).ProductListingID })
            </td>
            }
           else
            {
            <td>
                No files available
            </td>
            }
         }
        else
        {
            <td>
                No files available
            </td>
        }
        
        <td>
            @Html.ActionLink("Compliance", "../ProductListings/Index", new { id = item.ProductListingID }) |
            @Html.ActionLink("Edit", "../products/Edit", new { id=item.ProductListingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductListingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductListingID })
        </td>
    </tr>
}

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))


